/* app css stylesheet */
html, body {
  height: 100%;
  width: 100%;
}

ul {
  margin: 0;
}
body{
  display: inline-flex;
  flex-direction: column;
}
.workArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
