<div class="userList">
   <div class="container">
      <div class="userListControls">
         <select ng-model="selectedView" id="viewSelector" ng-change="changeView()">
            <option disabled>Выберите вид отображения</option>

            <option value='{{tab.value}}' ng-repeat="tab in tabs">{{tab.caption}}</option>
         </select>
         <select>
            <option disabled>Выберите порядок сортировки</option>
            <option value="sort1">А - Я</option>
            <option value="sort2">Я - А</option>
         </select>
      </div>

      <div class="tabs" ng-repeat="tab in tabs" ng-style="{'display': selectedView==tab.value ? 'block' : 'none'}">
         <section>
            {{tab.caption}}

         </section>
      </div>
   </div>

</div>