user-list{
   flex-grow: 1;
   display: grid;
}
.userList{
   width:100%;
   height:100%;
   background: lightgrey;
   display: block;
   /*padding-top: 42px;*/
}
.container{

}
.userListControls{
   margin: 10px;
   position: absolute;
}
.tabs{

}